@import './../../styles/main.scss';

.page {

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 128px;
  }

  &__gif {
    width: 211px;
    height: 211px;
  }

  &__sorry {
    @extend %h4;
    text-align: center;
    width: 664px;
  }
}